/* --------------------------- */
/*       CSS Properties        */
/* --------------------------- */

:root {
  --clr-dark: #9a9a9a;
  --clr-light: #efefef;
}

/* --------------------------- */
/*            Reset            */
/* --------------------------- */
/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset the margins */
body,
h2,
p {
  margin: 0;
}

/* set up the body */

.root {
  min-height: 100vh;
  line-height: 1.5;
}

/* make images easier to work with */
img {
  max-width: 60px;
  display: inline-block;
}

/* make forms easier to work with  */
input,
button,
label {
  font: inherit;
}

/* --------------------------- */
/*            General          */
/* --------------------------- */

body {
  padding: 0;
  font-family: Roboto, san-serif;
  font-weight: 400;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

/* --------------------------- */
/*          Typography         */
/* --------------------------- */

.card__title {
  font-size: 1.75rem;
}

.options__label {
  font-size: 1.1rem;
  color: var(--clr-dark);
  font-weight: 500;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background: #5a8bdd;
  color: #fff;
  font-size: 1rem;
}

/* --------------------------- */
/*          Layout             */
/* --------------------------- */

.root {
  /* Center the container horizontally and vertically */

  display: flex;
  justify-content: center;
  align-items: center;

  /* add background image */
  background-image: url('img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  width: 40%;
  max-width: 500px;

  background-color: #fff;
  border-radius: 7px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4), -2px -2px 15px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

/* -------------Add dots -------------*/

.dots__item {
  display: inline-block;
  background-color: var(--clr-light);
  width: 7.5px;
  height: 7.55px;
  border-radius: 5px;
}

.dots__item--active {
  background-color: var(--clr-dark);
}

/* -------------fix layout overall layout of container -------------*/

.card {
  display: flex;
  flex-direction: column;
}

/* -------------fix layout of dots -------------*/

.dots {
  text-align: center;
}

.dots__item {
  margin-right: 0.3em;
  margin-top: 1.25em;
  margin-bottom: 1em;
}

/* -------------fix layout of 'payment method' -------------*/
.card__title {
  text-align: center;
  margin-bottom: 1.25em;
}

/* -------------fix layout of form -------------*/

.btn,
.options__label {
  width: 100%;
  height: 4.5rem;
}

.options__item {
  display: flex;
}

/* -------------fix layout of each payment mode -------------*/

/* vertically align image */
.options__label {
  padding-left: 1em;
  padding-right: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
}

.options__item {
  border-top: 1px solid var(--clr-dark);
  transition: background-color 0.15s ease-in-out;
}

/* add ticks to each radio button in the html*/

/* check html file structure */
.options__selected-icon {
  display: none;
  margin-left: auto;
}
/* modifying the selected state looks of labels */
/* checked state of radio button */
/* we want to modify the looks of the label that is enclosing it */

input[type='radio']:checked + .options__label {
  color: #000;
}
/* make ticks appear */
input[type='radio']:checked + .options__label .options__selected-icon {
  display: inline;
}

/* hide the radio button */
input[type='radio'] {
  opacity: 0;
  position: fixed;
}

/* hover state and clickability */

/* change hover state of each option */
.options__item:hover {
  background-color: var(--clr-light);
}
.options__label {
  cursor: pointer;
}

/*------------- fix layout of button -------------*/

/* horizontal and vertical alignment */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding-top: 0;
  cursor: pointer;
  position: relative;
  transition: background-color 0.15s ease-in-out;
}

/* hover state */

.btn:hover {
  background-color: #558ef3;
}

/* add animation for click */
.btn:active {
  top: 1px;
}
